# Introdução ao SQL - Manipulando Registros

## Recapitulando

Comandos apresentados na aula passada.

## Objetivos

Ao final desta aula o aluno deverá conhecer como manipular os registros em bancos de dados.

## INSERT
Usado para inserir um registro numa tabela existente.

### Insira os dados de uma agência na tabela.

    INSERT INTO agencias(nome, endereco, telefone)
    VALUES ('Matriz', 'Rua da espernaça, 76', 11-99898-7417);

### Adicione um registo sem um dos campos, por exemplo, endereço.

    INSERT INTO agencias(nome, telefone)
    values ('LC', '12-99887-6655');

### Adicione um registro sem o campo nome. O que aconteceu?

    INSERT INTO agencias(endereco, telefone)
    VALUES ('Rua do não sei, 171', '13-11122-3344');

Resultado:

<img src="./images/Error1.png" width="60%" height="60%"/>

## INSERT COM SELECT

Podemos inserir dados em uma tabela a partir de um SELECT.

    INSERT INTO employee2 (last_name, first_name)
    SELECT last_name, first_name FROM employees;

Cuidado com as colunas retornadas pelo SELECT, pois precisam ser compatíveis com as colunas da tabela.

## INSERT COM MÚLTIPLAS LINHAS

    INSERT INTO aluno(cpf, nome, matricula)
    VALUES('1', 'A', 'M1'), ('2', 'B', 'M2')

## UPDATE

Usado para alterar valores de dados em um ou mais registros de uma tabela.

### Corrija o campo telefone da agência matriz.

    UPDATE agencias
    SET telefone = '11-99898-7417'
    WHERE agencia_id = 1;

Cuidado com a falta do WHERE!

    UPDATE agencias
    SET endereco = 'Av. Não esqueça o WHERE';

## DELETE
Usado para remover registros de uma tabela.

### Delete o registro de nome = 'LC'?

    DELETE FROM agencias
    where nome = 'LC';