# Introdução ao SQL

## Motivação

A linguagem SQL (Structured Query Language) é uma das razões do sucesso dos bancos relacionais. 

Inicialmente desenvolvida pela IBM com o nome de SEQUEL (Structured English Query Language).

Trata-se de uma linguagem padronizada para SGBDs relacionais que passou a ser desenvolvida e aprimorada ao longo dos anos por várias instituições.

Define comandos para manipulação (DML), criação (DDL) e consulta (DQL) em um banco de dados.

Por exemplo:

- DDL -> CREATE, ALTER, DROP
- DML -> INSERT, UPDATE, DELETE
- DQL -> SELECT

## Objetivos

Ao final desta aula o aluno deverá conhecer os comandos básicos de uma consulta SQL.

SELECT lista de atributos</br>
FROM tabela(s)</br>
WHERE condição;

## Primeiro passo

Vamos carregar o banco de dados que utilizaremos em aula.

Utilizaremos o script <b>northwind.sql</b> localizado na pasta <b>bancodedados\material\databases</b> do curso.

## Conhecendo o banco de dados

Vamos extrair um diagrama desse banco de dados utilizando o PgAdmin para conhecermos os dados ali armazenados.

<center><img src="./Fig-GerEr.png" alt="PgAdmin: Como obter o diagrama de um banco" width="30%" height="30%"/></center>

Note que esse recurso não gera um modelo ER propriamente dito. Ele faz uma engenharia reversa do banco e mostra o seu conteúdo de forma visual semelhante ao MER.

<center><img src="./northwind-er.png" alt="Modelo ER gerado pelo PgAdmin" width="50%" height="50%"/></center>

## Consultando os dados

### SELECT

Selecione todos os dados da tabela customers.

Escolha apenas as colunas company_name e city da tabela customers.

SELECT * 

FROM customers;

SELECT company_name, city

FROM customers;

### LIMIT

Selecione as apenas 10 linhas da tabela customers.

SELECT company_name, city

FROM customers

LIMIT 10;

### DISTINCT

Encontre todas as cidades dos consumidores.

SELECT DISTINCT city

FROM customers;

### Alias: AS

Renomeie a coluna postal_code para CEP.

SELECT postal_code AS CEP

FROM customers;

### WHERE

Condições aplicadas sobre o resultado da consulta.

#### Operadores de igualdade: >, <, =, <>, !=

Selecione o nome das empresas de consumidores que ficam em Vancouver.

SELECT company_name

FROM customers

WHERE city = 'Vancouver';

Selecione todas as empresas que não ficam em Vancouver.

SELECT company_name

FROM customers

WHERE city != 'Vancouver';

#### AND

Selecione o nome das empresas e o nome dos contatos de empresas que ficam na Alemanha e o contato seja representante de vendas.

SELECT contact_name

FROM customers

WHERE country = 'Germany' AND contact_title = 'Sales Representative';

#### OR

Selecione o nome e a cidade das empresas que estão em São Paulo ou no Rio de Janeiro.

SELECT company_name, city

FROM customers

WHERE city = 'Sao Paulo' OR city = 'Rio de Janeiro';

#### IN

Selecione todas as empresas escandinavas (Suécia, Dinamarca, Finlândia e Noruega).

SELECT company_name

FROM customers

WHERE country IN ('Sweden', 'Denmark', 'Finland', 'Norway');

#### IS NULL & IS NOT NULL

Selecione todas as empresas que tem valores preenchidos no campo região.

SELECT compnay_name

FROM costomers

WHERE region IS NOT NULL;

#### LIKE

Selecione todas as empresas em que os representantas sejam do setor de vendas.

SELECT contact_name

FROM customers

WHERE country = 'Germany' AND contact_title LIKE '%Sales%';

#### BETWEEN

Selecione todos os registros da tabela employees que tenham employee_id entre 3 e 7.

SELECT *

FROM employees

WHERE employee_id BETWEEN 3 AND 7;

## Exercícios

Executar as consultas abaixo em SQL e enviar o arquivo sql para o e-mail do professor da seguinte forma:

E-mail: williamtx1987@gmail.com

Assunto: 835_firstname_lastname_aula04-p1

Escrever um comentário antes de cada comando indicando a qual exercício ele se refere.

### Q1

Selecione os id's únicos de territórios da tabela employee_territories.

### Q2

Selecione da tabela empolyees:

1. Todos os nomes dos empregados;
1. Os sobrenomes distintos dos empregados;
1. Empregados que nasceram após 1970;
1. Empregados que foram contratados em 1993;
1. Empregados que nasceram entre 1980 e 1985 (inclusos);
1. Empregados que nasceram em 1963 e foram contratados em 1993;
1. Todos os empregrados que reportam o chefe de id 5;
1. Todos os empregados que moram em Seattle ou Kirkland.

### Q3

Selecione da tabela order_details:
1. Produtos (product_id) com mais de 50 unidades vendidas;
1. Produtos com mais de 0.2 de desconto;
1. Produtos com 0.05 ou menos de desconto;

### Q4

Selecione da tabels orders:
1. Ordens realizadas antes Setembro de 1996.
1. Ordens enviadas em Setembro de 1996.
1. Ordens que possuam o campo região preenchido.
1. As primeiras 5 linhas da tabela, reescrevendo o nome das colunas de data em português.

### Q5

Selecione da tabela suppliers:
1. Todos os contatos cujo nome comece com a letra M;
1. Todos os contatos que tenham a palavra manager no titulo;
1. Todos os contatos que trabalhem com vendas e morem nos países nórdicos.

## Referências

ELMASRI, R.; NAVATHE, S.B. Fundamentals of Database Systems, 7th Edition